body {
  margin:0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  line-height: 6rem;
}

p{
  font-family: "Open Sans";
  font-style: italic;
  font-size: 2rem;
}

.img-flex {
  width: 100%;
}
.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}
.content {
  max-width: 50em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
