*, *::before, *::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}

body {
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  line-height: 5.6rem;
  margin: 10px;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-style: italic;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.content {
  width: 100%;
  max-width: 50em;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
